# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
.env

# PyInstaller
*.manifest
*.spec
file_version_info.txt

# IDE
.idea/
.vscode/
*.swp
*.swo
.project
.pydevproject
.settings/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Logs and databases
*.log
*.sqlite
*.db

# Project specific
version.txt 